.colum {
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.gambar img{
    height: 350px;
    margin-left: 60px;
    background-size: cover;
    background-position: 30 -10;
    margin-top: 13px;
    border-radius: 10px;
}

.isi{
    padding: 20px;
}
